﻿@{
    ViewData["Title"] = "Home Page";
}

   <a href="https://localhost:44392/api/about">Home</a> 

<br />
<br />

   <a href ="https://localhost:44392/api/about?culture=de-CH">German</a> 

<br />
<br />

   <a href=" https://localhost:44392/api/about?culture=en-US">English</a>

<br />
<br />

   <a href="https://localhost:44392/api/about?culture=fr-CH"> French</a> 